.navbar {
  display: flex;
  flex-direction: column;
  width: 10%;
  align-self: flex-start;
  padding: 10px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.active {
  background: #ffffff;
  color: #000000;
}
